@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(17.9% 0.00613 285.724);
  --foreground: rgba(245, 245, 245, 1);
  --title-light: oklch(92.8% 0.006 264.531);
  --title-dark: oklch(70.7% 0.022 261.325);
  --testred: rgba(240, 5, 5, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(17.9% 0.00613 285.724);
    --foreground: rgba(245, 245, 245, 1);
    --title-light: oklch(92.8% 0.006 264.531);
    --title-dark: oklch(70.7% 0.022 261.325);
    --testred: rgba(240, 5, 5, 1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
